.post-card {
    width: 700px;
    max-height: 300px;
    display: flex;
    padding: 0;
    border-radius: 15px;
}

.mat-card-image {
    margin: 0;
    max-width: 200px;
}

.mat-card-image:first-child {
    margin: 0;
    border-radius: 15px 0 0 15px;
}

.mat-card-header {
    flex-shrink: 0;
}

.mat-card-title {
    cursor: pointer;
    line-height: 28px;
}

div.mat-card-header-text {
    margin: 0px 0px;
}

.mat-card-content {
    margin: 16px;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.footer {
    display: flex;
    justify-content: space-between;

    :first-child {
        margin-left: 15px;
    }

    .showMore {
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
    }
}

.reactions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    .comment-icon {
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("../../../../assets/comment.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        padding-right: 2px;
    }

    .comment-num {
        padding-right: 10px;
        color: #1c3043;
    }

    .score-icon {
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../../../../assets/updutt.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}
