<mat-card class="post-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">


    <mat-card-content>
        <mat-card-actions align="end">
            <span>
                <mat-icon>comment</mat-icon>
                <span>12</span>
            </span>
            <span>
                <mat-icon>
                    arrow_upward
                </mat-icon>
                <span>2302</span>
            </span>
        </mat-card-actions>

        <mat-card-title>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus dapibus ante. Etiam
            urna nulla
        </mat-card-title>

        <mat-card-subtitle>
            <span>
                posted 5 hours ago by user sameh
            </span>
        </mat-card-subtitle>

        <mat-card-actions align="end" class="showMore">
            show more
            <mat-icon>expand_more</mat-icon>
        </mat-card-actions>
    </mat-card-content>

</mat-card>