<mat-card class="post-card">
    <div class="mat-card-header" *ngIf="utils.isValidImage(post?.data?.thumbnail)" >
        <img    
            mat-card-image 
            [src]="post?.data?.thumbnail" 
            [alt]="post?.data?.author"
        >
    </div>


    <mat-card-content>
        <mat-card-actions class="reactions">
            <span class="comment-icon"></span>
            <span class="comment-num">{{post?.data?.num_comments}}</span>
            <span class="score-icon"></span>
            <span class="comment-num">{{post?.data?.score}}</span>
        </mat-card-actions>

        <mat-card-title>
            <span class="showMore" (click)="getPostDetails(post?.data?.name)">
                {{post?.data?.title}}
            </span>
        </mat-card-title>

        

        <mat-card-actions class="footer">
                <span>
                    posted {{ utils.getPostedInHours(post?.data?.created)}} hours ago
                    by user {{post?.data?.author}}
                </span>


            <span class="showMore" (click)="getPostDetails(post?.data?.name)">
                show more
                <mat-icon>expand_more</mat-icon>
            </span>
        </mat-card-actions>
    </mat-card-content>
</mat-card>